<h2 style="font-size: 40px;"> Restaurant: <%= @restaurant.name %> </h2>
<p style="font-size: 30px; color: grey;"><%= @restaurant.category %> </p>
<br>
<p style="font-size: 30px;"><strong>Address: </strong><%= @restaurant.address %> </p>
<p style="font-size: 30px;"><strong>Phone number: </strong> <%= @restaurant.phone_number %> </p>
<br>
<p><strong>Reviews</strong></p>
<ul class="list-group">
  <% @restaurant.reviews.each do |review| %>
    <li class="list-group-item"> <%= review.rating %> - <%= review.content %></li>
  <% end %>
</ul>
<br>
<h1>New review</h1>
<br>
<%= simple_form_for [@restaurant, @review] do |f| %>
  <%= f.input :rating %>
  <%= f.input :content %>
  <%= f.submit "Submit review", class: "btn btn-primary" %>
<% end %>
